BACKEND_IMAGE=registry.huan1.id.vn/elibrary/backend:latest
FRONTEND_IMAGE=registry.huan1.id.vn/elibrary/frontend:latest

FRONTEND_PUBLISHED_PORT=80
BACKEND_PUBLISHED_PORT=8080
DB_PUBLISHED_PORT=3307

MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=elibrary
MYSQL_USER=root
MYSQL_PASSWORD=root123
DB_APP_USERNAME=root
DB_APP_PASSWORD=root123

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_FLYWAY_ENABLED=false
SPRING_MAIL_HOST=sandbox.smtp.mailtrap.io
SPRING_MAIL_PORT=2525
SPRING_MAIL_USERNAME=3e9bfd65a58c4e
SPRING_MAIL_PASSWORD=9aece6b8862381
SPRING_MAIL_SMTP_AUTH=true
SPRING_MAIL_SMTP_STARTTLS_ENABLE=true
SPRING_MAIL_SMTP_STARTTLS_REQUIRED=true

APP_NOTIFICATION_EMAIL_ENABLED=true
APP_NOTIFICATION_FRONTEND_BASE_URL=http://elibrary.huan1.id.vn
APP_JWT_SECRET_KEY=TXlTdXBlclNlY3JldEtleUZvckpXVFNpZ25pbmdGb3JFbGlicmFyeTIwMjY=
APP_JWT_EXPIRATION_MS=86400000
