BACKEND_IMAGE=harbor.example.com/elibrary/backend:latest
FRONTEND_IMAGE=harbor.example.com/elibrary/frontend:latest

FRONTEND_PUBLISHED_PORT=80
BACKEND_PUBLISHED_PORT=8080
DB_PUBLISHED_PORT=3307

MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=elibrary
MYSQL_USER=elibrary
MYSQL_PASSWORD=change_me
DB_APP_USERNAME=root
DB_APP_PASSWORD=change_me

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_FLYWAY_ENABLED=false
SPRING_MAIL_HOST=sandbox.smtp.mailtrap.io
SPRING_MAIL_PORT=2525
SPRING_MAIL_USERNAME=change_me
SPRING_MAIL_PASSWORD=change_me
SPRING_MAIL_SMTP_AUTH=true
SPRING_MAIL_SMTP_STARTTLS_ENABLE=true
SPRING_MAIL_SMTP_STARTTLS_REQUIRED=true

APP_NOTIFICATION_EMAIL_ENABLED=true
APP_NOTIFICATION_FRONTEND_BASE_URL=http://your-ec2-public-ip
APP_JWT_SECRET_KEY=change_me_base64_secret
APP_JWT_EXPIRATION_MS=86400000
